body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #daffed;
  color: #1a1f16;
  margin: 0
}

header {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  background-color: #1a1f16;
  position: sticky;
  top: 0px;
}

.navLinks li{
  display: inline-block;
  padding: 0 20px;
}

.navLinks li a:hover{
  color: #daffed;
}
.navLinks li a:link, a:visited{
  text-decoration: none;
  color: white;
}

.portrait {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.portfolio_img {
  width: auto;
}

.portfolio {
  margin: 20px 0px 20px 0px;
  text-align: center;
}

.colorFlipper {
  padding: 20px;
  background-color:#1a1f16;
  color: #daffed;
  border-radius: 20px;
  margin: 0px 30% 0px 30% ;
}

.colorFlipper button{
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  cursor: pointer;
  background-color: #daffed;
  margin-bottom: 10px;
}

.home {
  margin: 10px 0px 10px 0px;
  text-align: center;
}

.about {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 300px 200px;
  gap: 10px;
}

